# Android generated
bin/
gen/

# Maven
target/
pom.xml.*
release.properties

# Android Studio/InttelliJ
*.iml
*.ipr
*.iws
*.idea/
out/

# Ignore gradle files;
.gradle/
/local.properties
/build
/app/build

# Mac
.DS_Store

# pullToRefresh
library_pullToRefresh/build
library_pullToRefresh/.classpath
library_pullToRefresh/.project
library_pullToRefresh/.settings
library_pullToRefresh/local.properties